{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}EpsAvlc 的主页{% endblock %}</h1>
{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}

  <h2>
    天气预报
  </h2>
  <p>当前城市：{{data["city"]}}</p>
  <table>
    <tr>
      <td>日期</td>
      <td>天气</td>
      <td>最低温度</td>
      <td>最高温度</td>
    </tr>
   {%- for weather_item in data["weather"] %}
    <tr>
      <td>{{weather_item["date"]}}</td>
      <td><img src="static/pics/weather_forecast/{{weather_item["type"] }}.png" width="80px"/></td>
      <td>{{weather_item["low_temp"]}}</td>
      <td>{{weather_item["high_temp"]}}</td>
    </tr>
    {%- endfor %}
  </table>
  <p>{{weather}}</p>
{% endblock %}